* {
    margin: 0;
    padding: 0;
}

.cbzq {
    align-items: center;
    background-image: url("/cbzq1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.you {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: aliceblue;
}
